<% if (theme.duoshuo_shortname && page.comments){ %>

<script src="<%- config.root %>js/duoshuo.js"></script>

<section class="post-comments">
    <div class="ds-thread" data-thread-key="cfmy-<%= page.layout %>-<%= page.slug %>"></div>

    <script type="text/javascript">
      var duoshuoQuery = {short_name:"<%= config.duoshuo_shortname %>"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        // ds.src = '//static.duoshuo.com/embed.js';
        ds.src = '/js/duoshuo.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script> 

</section>

<% } %>